/*ueditor_iframe里面的样式*/

/*global*/

/*oh是为了去掉html的滚动，另外html加overflow属性可让手机浏览器支持编辑区域滚动*/
html{
    overflow-y: auto;
    height: 484px !important;/*原来的原来是424px，原来是584px*/
}

/*定死高度，滚动*/
body{
	margin: 0;
	padding: 8px;
}

.view{
	word-break: break-all;
	word-wrap: break-word;
	cursor:text;
}
p{clear:both;}
img{*zoom:1;max-width:100%;*max-width:96%;height:auto !important;}
iframe{width:301px !important;border:0;background-color:none;}
.video_iframe{background-color:#000000;width:100% !important;*width:96% !important;position:static;}



/*vote*/
.vote_area{display:block;}
.vote_iframe{height:100%;width:100% !important;*width:96% !important;}


blockquote{margin:0;padding-left:10px;border-left:3px solid #DBDBDB;}
