@charset "utf-8";
/*基本css开始*/
* {
	font-size: 12px;
	font-family: "宋体";
	
}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
body {
	font-size: 12px;
	line-height: 1.5;
	font-family:'微软雅黑';
	background: url(../images/frame/bg.gif);
	background-repeat: repeat-x;
	margin:0 auto;
	min-width:980px;
}
button, submit, pre{ display:block;}
.pages * {
	padding: 0px 4px 0px 4px;
	border: 1px solid #CDCDCD;
	margin: 3px;
	background: #FFF;
	font-style: normal;
	color:#666 !important;
}
form, ul, ol {
	margin: 0;
	padding: 0;
}
td, th, div {
	word-break: break-all;
	word-wrap: break-word;
}
td {
	line-height: 1.5;
}
li, dd {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
textarea{ border:#CCC 1px solid; display:block;
}

.submit {
	padding: 0 10px;
	*padding: 0 5px;
	margin:0px;
	height: 24px;
	border: none;
	background: #3E96C8;
	color: #FFF;
	line-height: 20px;
	cursor: pointer;
	border-radius:5px;
}
a {
	text-decoration: underline;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: red;
}
a img {
	border-style: none;
}

/*cloud*/
#mainBody {width:100%;height:100%;position:absolute;z-index:-1; margin:0; padding:0;}
.cloud {position:absolute;top:0px;left:0px;width:100%;height:100%;background:url(../images/cloud.png) no-repeat;z-index:1;opacity:0.5;}
#cloud2 {z-index:2;}


/*login*/
#loginBody{background-color:#1c77ac; background-image:url(../images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;}
.logintop{height:47px; position:absolute; top:0; background:url(../images/loginbg1.png) repeat-x;z-index:100; width:100%;}
.logintop span{color:#fff; line-height:47px; background:url(../images/loginsj.png) no-repeat 21px 18px; text-indent:44px; color:#afc5d2; float:left;}
.logintop ul{float:right; padding-right:30px;}
.logintop ul li{float:left; margin-left:20px; line-height:47px;}
.logintop ul li a{color:#afc5d2;}
.logintop ul li a:hover{color:#fff;}
.loginbody{background:url(../images/loginbg3.png) no-repeat center center; width:100%; height:585px; overflow:hidden; position:absolute; top:47px;}
.systemlogo{background:url(../images/loginlogo.png) no-repeat center;width:100%; height:71px; margin-top:75px;}
.loginbox{width:692px; height:602px; background:url(../images/logininfo.png) no-repeat; margin-top:30px;}
.loginbox ul{margin-top:88px; margin-left:285px;}
.loginbox ul li{margin-bottom:25px;}
.loginbox ul li label{color:#687f92; padding-left:25px;}
.loginbox ul li label a{color:#687f92;}
.loginbox ul li label a:hover{color:#3d96c9;}
.loginbox ul li label input{margin-right:5px;}
.loginuser{width:299px; height:48px; background:url(../images/loginuser.png) no-repeat; border:none; line-height:48px; padding-left:44px; font-size:14px; font-weight:bold;}
.logincode{width:109px; height:48px; background:url(../images/loginuser1.png) no-repeat; border:none; line-height:48px; padding-left:44px; font-size:14px; font-weight:bold;}
.loginpwd{width:299px; height:48px; background:url(../images/loginpassword.png) no-repeat; border:none;line-height:48px; padding-left:44px; font-size:14px; color:#90a2bc;}
.loginbtn{width:111px;height:35px; background:url(../images/buttonbg.png) repeat-x; font-size:14px; font-weight:bold; color:#fff;cursor:pointer; line-height:35px; border:0px;}
.loginbm{height:50px; line-height:50px; text-align:center; background:url(../images/loginbg2.png) repeat-x;position:absolute; bottom:0; width:100%; color:#0b3a58;}
.loginbm a{font-weight:bold;color:#0b3a58;}
.loginbm a:hover{color:#fff;}