@charset "utf-8";
/*基本css开始*/
* {
	font-size: 12px;
}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
body {
	font-size: 12px;
	line-height: 1.5;
	font-family:'微软雅黑';
	background: url(../images/bg.gif);
	background-repeat: repeat-x;
	margin:0 auto;
	min-width:980px;
	color:#444;
}
input[type="text"],input[type="password"],input[type="number"] {
  border-radius: 3px;
  border:1px solid #CCC;
  height:26px; 
  line-height:26px;
  padding:0px 5px;
}
input[type="radio"]{vertical-align:sub; border:0; margin-left:0px; margin-right:0px;} 
input[type="checkbox"]{vertical-align:middle; border:0;}
/*label{vertical-align:middle}*/
textarea{ border:#CCC 1px solid; display:block; border-radius: 3px;
}
select{border-radius:3px; height:26px; line-height:26px; border:#CCC 1px solid;}
option{border-radius:3px; line-height:26px;}
button, submit, pre{ display:block;}
.pages{color:#666}
.pages a,.pages em,.pages strong {
	padding: 0px 8px;
	border: 1px solid #CDCDCD;

	margin: 3px;
	background: #FFF;
	font-style: normal;
	color:#666 !important;
}
.pages strong{color:#3E96C8 !important;}
form, ul, ol {
	margin: 0;
	padding: 0;
}
td, th, div {
	word-break: break-all;
	word-wrap: break-word;
}

li, dd {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.submit {
	padding: 0 10px;
	*padding: 0 5px;
	margin:0px;
	height: 26px;
	border: none;
	font-size:14px;
	background: #3E96C8;
	color: #FFF;
	cursor: pointer;
	border-radius:5px;
}
a {
	text-decoration: none;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: red;
}
a img {
	border-style: none;
}
.sctable1{
	background-color:#b3ccdd;
}
.sctable1 .title{
	padding-left:10px;
	padding-right:10px;
	background-color:#D4E7F0;
	color:#333;
	font-size:12px;
	font-weight: bold;
	text-align:left;
}
.sctable1 tr{
	background-color:#fcfcfc;
}
.sctable1 tr td{
	line-height:250%;
}
.sctable1 .submit {
	padding: 0 10px;
	*padding: 0 5px;
	margin:0px;
	height: 24px;
	border: none;
	font-size:12px;
	background: #3E96C8;
	color: #FFF;
	cursor: pointer;
	border-radius:5px;
}
.sctable1 button{
	padding: 0 10px;
	*padding: 0 5px;
	margin:0px;
	height: 24px;
	border: none;
	font-size:12px;
	background: #3E96C8;
	color: #FFF;
	cursor: pointer;
	border-radius:5px;	
}
.sctable2{
	background-color:#9db8cb;
	text-align:center;
	margin:20px auto;
}
.sctable2 .title{
	padding-left:10px;
	padding-right:10px;
	background-color:#D4E7F0;
	color:#000;
	font-weight:bold;
	text-align:left;
}
.sctable2 .menubar td{
	text-align:left;
	padding-left:10px;
}
.sctable2 tr{
	background-color:#FCFCFC;
	height:30px;
	line-height:30px;
}
.sctable2 tr.even {background:#ECF6FC;}
.sctable2 tr.alt {background:#FFF;}
.sctable2 .submit {
	padding: 0 10px;
	*padding: 0 5px;
	margin:0px;
	height: 24px;
	border: none;
	font-size:12px;
	background: #3E96C8;
	color: #FFF;
	cursor: pointer;
	border-radius:5px;
}
.sctable2 button{
	padding: 0 10px;
	*padding: 0 5px;
	margin:0px;
	height: 24px;
	border: none;
	font-size:12px;
	background: #3E96C8;
	color: #FFF;
	cursor: pointer;
	border-radius:5px;	
}
.sctable3{
	background-color:#f2f2f2;
	text-align:left;
	margin-bottom:10px;
	padding:5px 0px;
}
.sctable3 tr {
	height: 30px;
	line-height: 30px;
}
.sctable3 .submit {
	padding: 0 10px;
	*padding: 0 5px;
	margin:0px;
	height: 26px;
	border: none;
	font-size:12px;
	background: #3E96C8;
	color: #FFF;
	cursor: pointer;
	border-radius:5px;
}

.tabtitle{width:98%; margin:auto; height:37px; position:relative; padding:0px; }
.tabtitle ul {width:auto;  margin:auto; padding:0px; position:absolute; margin-left:5px;}
.tabtitle ul li{float:left; height:37px; line-height:37px; background:url(../images/itabbg.png) repeat-x; border-left:solid 1px #d3dbde; border-right:solid 1px #d3dbde; cursor:pointer; }
.tabtitle ul li a{font-size:12px; color:#444; padding-left:25px; padding-right:25px;}
.tabtitle ul li.current a{color:#a40000; line-height:50px;}
.tabtitle ul li.current{ margin-top:-9px; height:46px; color:#a40000; line-height:50px; display:block; border-left:solid 1px #d3dbde; border-right:solid 1px #d3dbde; background:url(../images/itabbg1.png) repeat-x; font-weight:bold;}
.tabcontent{width:98%; overflow:hidden; margin:auto; text-align:center;}
.catid optgroup {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #CCCCCC;
	background-color: #F5F5F5;
}

/*top.html*/
.header{height:50px;}
.topleft{height:50px; background-color:#2B7FB5; float:left; width:210px;}
.topleft img{ }
.topright{height:50px; background-color:#3C8DBC; float:right;}
.topright ul{padding-top:15px; float:right; padding-right:12px;}
.topright ul li{float:left; padding-left:9px; padding-right:9px; }
.topright ul li:last-child{background:none;}
.topright ul li a{font-size:13px; color:#e9f2f7;}
.topright ul li a:hover{color:#fff;}
.topright ul li span{margin-top:2px;float:left;padding-right:3px;}
.nav li{float:left;  height:50px; color:#FFF; line-height:50px; text-align:center;}
.nav li a{display:block; padding:0px 15px; font-size:14px; color:#FFF; height:50px;-moz-transition: none; transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -webkit-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; }
.nav li a.selected{background:url(../images/navbg.png) no-repeat;}
.nav li a:hover{display:block;background:#000;color:#fff; background:url(../images/navbg.png) no-repeat; }
.nav li a{display:block;}

/*left.html*/
.menu-side {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 999;
    width: 50px;
    overflow-x: hidden;
	overflow-y: hidden;
	background-color:#26333E;
}
.menu-side ul{width: 50px; color:#ccc !important;}
.menu-side li{position:relative; padding: 10px 0; text-align: center; color: #fff; color: #ccc; transition: all .3s; -webkit-transition: all .3s; cursor: pointer; height:40px;}
.menu-side li span{width:100%; margin:auto; float:left; overflow:hidden; }
.menu-side li a{color: #ccc; font-size:14px !important;}
.menu-side li:hover{color: rgba(255,255,255,1);}
.menu-side li:hover:before{content:''; position: absolute; z-index: -1; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.3);}
.main-child i{text-align:center; width:8px !important; *margin-right:4px;}
.menu-side li i{display: block; margin-bottom: 5px; font-size: 20px;}
.menu-side li.menu-select,.menu-side li.menu-select:after{background-color: #edf6f9!important; color: #000;}
.menu-side-child-list ul{width:152px; max-height: 100%; overflow:hidden; margin:0 auto; margin-left:58px; float:left; overflow-y: auto !important; padding:10px 0; }
.menu-side-child-list ul::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.menu-side-child-list ul::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.26);
    border-radius:2px;
}
.menu-side-child-list ul li{width:100%; overflow:hidden; margin-bottom:10px;}
.menu-side-child-list ul li dl{margin-left:12px; margin-top:5px;  line-height:250%;}
.menu-side-child-list .main-child{font-size:14px; color:#3C8DBC;}
/*main.html*/
.maintools{height:80px;}
.maintools li{float:left; text-align:center; line-height:100%;}
.maintools li a{display:block; padding:0px 12px; font-size:14px; color:#FFF; height:80px;-moz-transition: none; transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -webkit-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; }
.maintools li a:hover{display:block; background:#000; color:#fff; background: none repeat scroll 0% 0% rgb(212, 231, 240); }
.maintools li img{margin-top:8px; margin-bottom:0px; padding:0px;}
.maintools li a{display:block;}
.maintools a span{display:block; margin:5px 5px 0px 5px;  padding:0px; color:#444}
.maintools a:hover span{color:#000;}

/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}
.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.user-box {
    height: 30px;
    clear: both;
    float: right;
    border-radius: 30px;
    white-space: nowrap;
    background-repeat: no-repeat;
    line-height: 30px;
    color: #FFF;
    padding-right: 10px;
    padding-left: 10px;
}

/*apply */
.apply-lists {
	width:98%;
	margin:10px auto;
	overflow: hidden;
}
.apply-lists>li {
	width:25%;
	float:left;
}
.apply-list {
	margin: 10px;
	overflow: hidden;
	background-color:#FFF;
	height:235px;
	outline: 1px solid #e7e6eb;
	transition: all .3s;
}
.apply-list .media {
	padding: 13px;
	margin: auto;
	border-bottom: 1px dashed #e7e6eb;
	overflow:hidden;
}
.apply-list .media span {
	font-size: 12px;
	color: #939393;
	padding-right: 18px
}
.apply-list .apply-list-icon {
	width: 83px;
	height: 83px;
	padding-right: 15px;
  display: table-cell;
  vertical-align: top;
	float:left;
}
.apply-list .media-body {
  display: table-cell;
  vertical-align: top;
	float:left;
}
.apply-list .apply-list-icon img {
	width: 83px;
	height: 83px;
	border-radius: 10px;
	border: 1px solid #e7e6eb
}
.apply-list .apply-list-title {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 15px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 151px
}
.apply-list .apply-list-money {
	margin-bottom: 6px;
	max-width: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.apply-list .apply-list-safe {
	padding: 13px;
	margin: 0;
	color: #989494
}
.apply-list .apply-list-safe img {
	padding-right: 5px;
	height: 18px
}
.apply-list .apply-list-support {
	padding: 10px 13px;
	margin: 0;
	color: #989494;
	line-height:200%;
}
.apply-list .apply-list-support .wi {
	padding-right: 5px;
	font-size: 24px;
	color: #428bca
}
.apply-list .apply-list-support span {
	padding-right: 5px;
	color: #808080
}
.apply-list:hover {
	outline: 3px solid #428bca
}
.apply-list:hover .apply-list-title {
	color: #428bca
}
.apply-list .media-body .btn {
	padding:5px 15px;
	border-radius:3px;
	display:inline-block;
	color:#FFF;
}
.apply-list .media-body .az {
	background-color:#428bca;
}
.apply-list .media-body .xz {
	background-color:#ca4242;
}
.none-plugins {
  background-color:#FFF;
  border:1px solid #DDD;
  text-align: center;
  padding:30px 0px;
  font-size:16px;
}