@charset "utf-8";
/*
[name]天祺网络[/name]
Powered by TQCMS
*/
/* CSS Document */
/* ============共用样式begin============== */
body {
	overflow-x: hidden;
	margin: auto;
	padding: auto;
	font-size: 12px;
	font-family: Consolas, "微软雅黑";
}
form {
	margin: auto;
	padding: auto;
}
p {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #F00;
}
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
img {
	border: 0px;
}
.f-l {
	float: left;
}
.f-r {
	float: right;
}
/* ============共用样式end============== */

/* ============分页样式begin============== */
.pages {
	width: 100%;
	margin: auto;
	text-align: center;
	overflow: hidden;
	line-height: 20px;
	display: block;
	
}
.pages * {
	padding: 0 4px;
	border: 1px solid #CDCDCD;
	margin-right: 5px;
	background: #FFF;
	font-style: normal;
	font-size:12px;
}
.pages a {
	text-decoration: none;
}
.pages a:hover {
	text-decoration: underline;
	color: #F00;
}
/* ============分页样式end============== */

/* ============top head menu样式begin============== */
.top {
	width: 100%;
	background-color: #F4F4F4;
	overflow: hidden;
}
.top_main {
	width: 1000px;
	text-align: right;
	margin: auto;
	height: 30px;
	line-height: 30px;
}
.head {
	margin: auto;
	width: 1000px;
	overflow: hidden;
}
.head-logo {
	padding: 10px;
}
.menu {
	height: 30px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #3E96C8;
}
.menu ul {
	height: 30px;
	line-height: 30px;
	width: 1000px;
	margin: auto;
	padding: 0;
}
.menu ul li {
	width: auto;
	margin: 0px;
	overflow: hidden;
	float: left;
	text-align: left;
	display: inline;
	text-align: center;
	padding: 0px 15px 0px 15px;
	*padding:0px 13px 0px 13px;
}
.menu ul li a {
	float: left;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	color: #FFF;
}
.menu ul li a:hover {
	color: #F00;
}
/* ============top head menu样式end============== */

/* ============foot friendslink样式begin============== */
.foot {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: auto;
	background: #3E96C8;
	color: #FFF;
	margin-top: 10px;
}
.foot a {
	color: #FFF;
	text-decoration: none;
}
.friendslink {
	width: 1000px;
	height: 100%;
	overflow: hidden;
	border-top: 1px solid #bc1a1a;
	margin: 15px auto auto auto;
}
.friendslink ul li {
	float: left;
	height: 25px;
	line-height: 25px;
	padding: 0px 10px 0px 10px;
}
.friendslink ul .first {
	padding: 0px;
}
/* ============foot样式end============== */

/* ============首页样式begin============== */
.index_qqzx {
	background-image: url(../images/qqzx.jpg);
	width: 220px;
	height: 77px;
	cursor: pointer;
}
.index_kefutel {
	background-image: url(../images/kefutel.jpg);
	width: 220px;
	height: 68px;
	cursor: pointer;
}
.index_online {
	background-image: url(../images/online.jpg);
	width: 220px;
	height: 68px;
	cursor: pointer;
}
.index_box {
	width: 100%;
	overflow: hidden;
}
.index_box .boxtitle {
	border-bottom: 1px solid #bc1a1a;
	width: 100%;
	height: 25px;
}
.index_box .boxtitleleft {
	background: url(../images/bg_l2.jpg) no-repeat right top;
	background-color: #bc1a1a;
	height: 24px;
	line-height: 24px;
	float: left;
	padding: 0px 35px 0px 10px;
}
.index_box .boxtitleright {
	background: url(../images/jtr.jpg) no-repeat left top;
	height: 24px;
	line-height: 24px;
	float: right;
	padding: 0px 5px 0px 16px;
}
.index_box .boxtitle .boxtitleleft a {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
.index_box .boxcontent {
	overflow: hidden;
	padding: 5px 0px 0px 0px;
}
.index_box .boxcontent ul li {
	width: 100%;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px #CCCCCC dashed;
}
.index_box .boxcontent ul li a {
	float: left;
}
.index_box .boxcontent ul li span {
	float: right;
}
.index_box .boxpiccontent {
	overflow: hidden;
	padding: 10px 0px 0px 0px;
}
.index_box .boxpiccontent ul {
	width: 99%;
	margin: auto;
}
.index_box .boxpiccontent ul li {
	float: left;
	padding: 0px 5px 0px 5px;
}
.index_box .boxpiccontent ul li img {
	border: 1px solid #747474;
	height: 90px;
	width: 111px;
}
/* ============首页样式end============== */

/* ============内页样式begin============== */
.box1 {
	width: 100%;
	overflow: hidden;
}
.box1 .boxtitle {
	background-color: #bc1a1a;
	color: #FFF;
	width: 100%;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}
.box1 .boxtitle a {
	font-size: 12px;
	color: #fff;
}
.box1 .boxcontent {
	overflow: hidden;
	border: #bc1a1a solid 1px;
	padding: 10px;
}
.box2 {
	width: 100%;
	overflow: hidden;
}
.box2 .boxtitle {
	background-color: #bc1a1a;
	color: #FFF;
	width: 100%;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}
.box2 .boxtitle a {
	font-size: 12px;
	color: #fff;
}
.box2 .boxcontent {
	overflow: hidden;
	border: #bc1a1a solid 1px;
	padding: 10px;
}
.box2 .boxcontent ul li {
	line-height: 25px;
	line-height: 25px;
	border-bottom: 1px dashed #CCCCCC;
}
.box3 {
	width: 100%;
	overflow: hidden;
}
.box3 .boxtitle {
	background-color: #bc1a1a;
	color: #FFF;
	width: 100%;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}
.box3 .boxtitle a {
	font-size: 12px;
	color: #fff;
}
.box3 .boxcontent {
	overflow: hidden;
	border: #bc1a1a solid 1px;
	padding: 10px;
}
.box3 ul {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.box3 ul li {
	background: url(../images/222.jpg) no-repeat left top;
	line-height: 20px;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px #999999 dashed;
	height: 25px;
	font-size: 12px;
}
.box3 ul li a {
	float: left;
	padding-left: 25px;
}
.box3 ul li span {
	float: right;
}
.box4 {
	width: 100%;
	overflow: hidden;
}
.box4 .boxtitle {
	background-color: #bc1a1a;
	color: #FFF;
	width: 100%;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}
.box4 .boxtitle a {
	color: #fff;
}
.box4 .boxborder {
	width: 758px;
	overflow: hidden;
	border: #e0e0e0 solid 1px;
}
.box4 .boxcontent {
	margin: 20px auto 20px auto;
	width: 96%;
	overflow: hidden;
}
/* ============内页样式end============== */

/* ============其他 样式begin============== */
.wrap {
	width: 1000px;
	margin: 15px auto auto auto;
	overflow: hidden;
}
.banner {
	width: 1000px;
	margin: 10px auto auto auto;
}
.scbutton {
	padding: 0 5px;
	height: 24px;
	border: none;
	background: #3E96C8;
	color: #FFF;
	line-height: 20px;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius:3px;
}
.stripe_tb {
	border-collapse: collapse;
}
.stripe_tb th {
	background: #06C;
	border: 1px solid #368706;
	color: #fff;
	line-height: 20px;
	height: 30px;
	text-align: center;
}
.stripe_tb td {
	padding: 0px 0px;
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
}
.stripe_tb td * {
	padding: 0px px;
}
.stripe_tb tr.alt td {
	background: #ecf6fc;
} 
.stripe_tb tr.over td {
	background: #FEF3D1;
}
/* ============其他 样式begin============== */
