.onShow
{
    background:url(../images/formValidator/onShow.gif) no-repeat; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onFocus
{
    background:#E9F0FF url(../images/formValidator/onFocus.gif) no-repeat; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onError
{
    background:#FFF2E9 url(../images/formValidator/onError.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onCorrect
{
    background:#E9FFEB url(../images/formValidator/onCorrect.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onLoad
{
    background:#E9FFEB url(../images/formValidator/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 