* {
	margin: 0;
	padding: 0;
}

a {
	color: #6d6d6d;
	text-decoration: none
}

img {
	border: none
}

body {
	font: 12px Arial,simsun;
	color: #6d6d6d
}

.toplogo {
	overflow: hidden;
	zoom: 1;
	background: #f3f4f5;
	border-bottom: 1px solid #e9e9e9
}

.toplogo .leftlg {
	width: 1000px;
	padding: 33px 0 40px;
	margin: 0 auto
}

.regmain {
	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
}

.regimmain {
	min-height: 200px;
	background: #fff;
	overflow: hidden;
	border: 1px solid #f0f0f0;
	margin-top: -1px
}

.leftreg {
	float: left;
	margin-left: 100px;
	width: 608px;
	display: inline;
	padding: 72px 0;
	display: none
}

.leftreg dt {
	padding: 10px 0;
	display: inline;
	display: block;
	display: inline-block;
	vertical-align: middle
}

.leftreg dt input:focus {
	outline: none
}

.leftreg dt .getcode {
	float: right;
	color: #fff;
	background: #f3514c;
	display: inline-block;
	width: 110px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	margin-left: 10px;
	border-radius: 3px;
}

.leftreg dt .getcode.disabled {
	background: #999
}

.leftreg dd {
	line-height: 21px;
	max-width: 194px;
	max-height: 40px;
	overflow: hidden;
	color: #8c8c8c;
	display: inline;
	display: block;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
	font-family: 'microsoft yahei'
}

.leftreg .textbox {
	width: 296px;
	border: 1px solid #f7e8e8;
	padding: 10px 0 10px 45px;
	background: url(../images/lg-icon.png) no-repeat 11px 9px #fff;
	color: #c1b1b1;
	font: 14px 'microsoft yahei';
	vertical-align: middle
}

.leftreg .textbox:focus {
	border: 1px solid #d6b4b4;
	background: url(../images/lg-icon.png) no-repeat #fff 11px 9px;
	box-shadow: 0px 0px 10px #f0f0f0 inset;
	color: #000
}

.leftreg .textbox.pwd {
	background-position: 12px -38px
}

.leftreg .textbox.eml {
	background-position: 12px -81px
}

.leftreg .textbox.tel {
	background-position: 10px -266px
}

.leftreg .textbox.cde {
	background-position: 10px -224px
}

.leftreg .textbox#captcha {
	background: none
}

.leftreg #codeimage {
	vertical-align: middle;
	margin-right: 5px;
}

.leftreg .protol {
	color: #6d6d6d;
	margin-top: 22px
}

.leftreg .prototx,.prototx a {
	color: #f3514c;
	text-decoration: none
}

.leftreg .isAgree {
	position: relative;
	top: 2px;
	;
}

.leftreg .regbtn {
	margin-top: 24px;
}

.leftreg .regbtn input {
	width: 180px;
	height: 35px;
	color: #fff;
	font: 16px/35px 'microsoft yahei';
	background: #f3514c;
	border: none;
	cursor: pointer;
	display: inline-block;
	border-radius: 2px;
}

.leftreg .regbtn input:hover {
	opacity: 0.9;
	fiter: alpha(opacity=90);
}

.rghtreg {
	float: right;
	width: 238px;
	display: inline;
	padding: 72px 0
}

.rghtreg .loginenter a {
	width: 121px;
	height: 31px;
	color: #fff;
	font: 14px/31px 'microsoft yahei';
	background: #f3514c;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	margin-top: 14px;
	display: inline-block;
	text-align: center
}

.rghtreg .loginenter a:hover {
	text-decoration: none;
	color: #fff
}

.rghtreg .lgother {
	padding-top: 62px;
}

.rghtreg .lgother p img {
	margin-top: 16px;
}

.kajizhahao {
	color: #6d6d6d;
	font: 12px 'microsoft yahei'
}

.copyright {
	text-align: center;
	margin-top: 52px
}

.copyright .footNav {
	line-height: 40px;
	color: #ccc
}

.copyright .footNav a {
	color: #666;
	margin: 0 6px
}

.copyright .footDesc {
	line-height: 24px;
	color: #dc3633
}

.copyright .cpright {
	line-height: 24px;
	color: #666
}

.copyright .safeAuth {
	padding: 20px 40px;
}

.copyright .safeAuth a {
	margin: 0 6px
}

dd.error {
	background: url(../images/lg-icon.png) no-repeat 12px -185px #f8f8f8;
	padding-left: 28px;
	padding-bottom: 2px;
	color: #8c8c8c;
	border-radius: 6px;
	padding: 7px 15px 7px 40px
}

dd.valid {
	background: url(../images/lg-icon.png) no-repeat 15px -129px;
}

.regtab {
	overflow: hidden;
	zoom: 1;
	padding-left: 30px;
}

.regtab span {
	background: #fff;
	display: inline-block;
	width: 150px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	float: left;
	border: 1px solid #f0f0f0;
	margin-left: 30px;
	cursor: pointer;
	font-size: 13px;
	font-family: 'microsoft yahei'
}

.regtab span.curr {
	border-bottom-color: #fff;
	color: #f3514c;
	border-top-color: #f3514c
}

.selcbtn {
	position: relative;
	top: 2px;
}

.inviteCode {
	display: none