@charset "utf-8";


.info_box {
  margin-top: 3.5rem;
  background-color: #F5F5F5;
  overflow: hidden;
}
.info_box .info_box_list {
  overflow: hidden;
  padding: 0 0 0 0.5rem;
  background-color: #FFF;
  border-top: solid 0.05rem #EEE;
  border-bottom: solid 0.05rem #EEE;
}



.info_box .info_box_list li {
    position: relative;
    z-index: 1;
    display: block;
    clear: both;
    overflow: hidden;
    padding: 0.5rem 0;
    line-height: 1rem;
    border-top: solid 0.05rem #EEE;
}

.info_box .info_box_list li:first-child {
    border-top: none;
    padding:.25rem 0;
}

.info_box .info_box_list li a {
    display: block;
    overflow: hidden;
    font-size: 0.65rem;
    color: #000;
}
.info_box .info_box_list li p {
    float: left;
    margin-left: 0.3rem;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #333;
}

.info_box .info_box_list li .info_avatar {
	float: right;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 2rem;
	border-radius: 100%;
	overflow: hidden;
}
.info_box .info_box_list li .info_avatar img {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

#imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}


.info_box .info_box_list li #poster {
	display: none;
}

.info_box .info_box_list li span.arrow-r {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0.5rem;
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    margin-top: -0.3rem;
    background-image: url(../images/arrow_right_b.png);
    background-repeat: 50% 50%;
    background-repeat: no-repeat;
    background-size: 90%;
    opacity: 0.65;
}



.info_box .info_box_list li .input-box {
    display: block;
    margin: 0 0.75rem 0 4rem;
    position: relative;
    z-index: 1;
}
.info_box .info_box_list li .input-box .inp {
    width: 90%;
    border: 0 none;
    font-size: 0.65rem;
    line-height: 0.95rem;
    color: #666;
}
.info_box .info_box_list li .input-box select {
	background-color: #FFF !important;
}

.info_box .info-btn {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
.info_box .info-btn .btn {
    display: block;
    width: 100%;
    height: 2rem;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    line-height: 2rem;
    text-align: center;
    color: #888;
    background: #EEE;
    border: none;
    border-radius: 0 !important;
}

.info_box .info-btn.ok .btn {
    color: #FFF !important;
    background: #ED5564;
}


.info_box .info_box_list li .input-box.write .input-del {
    display: block;
}
.info_box .info_box_list li .input-box .input-del {
    position: absolute;
    z-index: 1;
    top: 0rem;
    right: 0rem;
    display: none;
    width: 0.975rem;
    height: 0.975rem;
    background-image: url(../images/cancel_b.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%;
    opacity: 0.4;
}