@charset "utf-8";
/*
[name]天祺网络[/name]
Powered by TQCMS
*/
/* CSS Document */
/* ============共用样式begin============== */
body {
	overflow-x: hidden;
	margin: auto;
	padding: auto;
	font-size: 12px;
	font-family: Consolas, "微软雅黑";
}
form {
	margin: auto;
	padding: auto;
}
p {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #F00;
}
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
img {
	border: 0px;
}
.f-l {
	float: left;
}
.f-r {
	float: right;
}
/* ============共用样式end============== */

/* ============分页样式begin============== */
.pages{
	width: 100%;
	margin: auto;
	text-align: center;
	overflow: hidden;
	line-height: 20px;
	display: block;
	color:#666;
	padding: 0 4px;
}
.pages a,.pages em,.pages strong {
	padding: 2px 8px;
	border: 1px solid #CDCDCD;
	margin: 3px;
	background: #FFF;
	font-style: normal;
	color:#666 !important;
}
.pages strong{color:#0089FA !important;}
.pages a {
	text-decoration: none;
}
.pages a:hover {
	text-decoration: underline;
	color: #F00;
}
/* ============分页样式end============== */

/* ============top head menu样式begin============== */
.top {
	width: 100%;
	background-color: #F8F7F7;
	border-bottom:1px solid #E9E8E8;
	overflow: hidden;
}
.top_main {
	width: 1200px;
	text-align: right;
	margin: auto;
	height: 34px;
	line-height: 34px;
}
.head {
	margin: auto;
	width: 1200px;
	overflow: hidden;
}
.head-logo {
	padding: 10px 0px;
}
.menu {
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #0089FA;
	position: relative;
	z-index:9999999;
}
.menu ul {
	height: 40px;
	line-height: 40px;
	width: 1200px;
	margin: auto;
	padding: 0;
}
.menu ul li {
	margin: 0px;
	float: left;
	text-align: center;
}
.menu ul li a {
	display:block; padding:0px 20px; color:#FFF; font-size:14px;; text-align:center;
}
.menu ul li a.selected{background:url(../images/menubg.png) no-repeat;}
.menu ul li a:hover {
	display:block;background:#000;color:#fff; background:url(../images/menubg.png) no-repeat; 
}
.menu ul li .child {
    position: absolute;
    z-index: 9999999;
    background: rgb(0,0,0);
	color:#000;
    _opacity: 0.8;
    _filter: alpha(opacity=80);
	display:none;
}
.menu ul li .child a{ background-color:#0089FA; border-top:2px solid #FFF; line-height:40px; position:relative; z-index:9999; }
.menu ul li .child a:hover{background:#F90;}
.menu ul li:hover .child{display:block;}
/* ============top head menu样式end============== */

/* ============foot friendslink样式begin============== */
.foot {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: auto;
	background: #F9F9F9;
	color: #333;
	margin-top: 10px;
	border-top:1px solid #E9E8E8;
}
.foot a {
	color: #333;
	text-decoration: none;
}
.friendslink {
	width: 1200px;
	/*height: 100%;*/
	overflow: hidden;
	border-top: 1px solid #0089FA;
	margin: 15px auto auto auto;
}
.friendslink ul li {
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0px ;
}
.friendslink ul .first {
	padding: 0px;
}
/* ============foot样式end============== */

/* ============首页样式begin============== */
.index_box {
	width: 100%;
	overflow: hidden;
}
.index_box .boxtitle {
	border-bottom: 1px solid #0089FA;
	width: 100%;
	height: 25px;
}
.index_box .boxtitleleft {
	background: url(../images/bg_l2.jpg) no-repeat right top;
	background-color: #0089FA;
	height: 24px;
	line-height: 24px;
	float: left;
	padding: 0px 35px 0px 10px;
}
.index_box .boxtitleright {
	background: url(../images/jtr.jpg) no-repeat left top;
	height: 24px;
	line-height: 24px;
	float: right;
	padding: 0px 5px 0px 16px;
}
.index_box .boxtitle .boxtitleleft a {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
.index_box .boxcontent {
	overflow: hidden;
	padding: 5px 0px 0px 0px;
}
.index_box .boxcontent ul li {
	width: 100%;
	height: 34px;
	line-height: 34px;
	border-bottom: 1px #CCCCCC dashed;
}
.index_box .boxcontent ul li a {
	float: left;
}
.index_box .boxcontent ul li span {
	float: right;
}
.index_box .boxpiccontent {
	overflow: hidden;
	padding: 10px 0px 0px 0px;
}
.index_box .boxpiccontent ul {
	width: 1215px;
	overflow: hidden;
	margin: auto;
}
.index_box .boxpiccontent ul li {
	float: left;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:5px;
	width: 118px;
	height: 118px;
	border: 1px #CCCCCC dashed;
}
.index_box .boxpiccontent ul li img {
	height: 118px;
	width: 118px;
}
/* ============首页样式end============== */

/* ============内页样式begin============== */
.box1 {
	width: 100%;
	overflow: hidden;
}
.box1 .boxtitle {
	background-color: #0089FA;
	color: #FFF;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.box1 .boxtitle a {
	font-size: 12px;
	color: #fff;
}
.box1 .boxcontent {
	overflow: hidden;
	border: #0089FA solid 1px;
	padding: 10px;
}
.box2 {
	width: 100%;
	overflow: hidden;
}
.box2 .boxtitle {
	background-color: #0089FA;
	color: #FFF;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.box2 .boxtitle a {
	font-size: 12px;
	color: #fff;
}
.box2 .boxcontent {
	overflow: hidden;
	border: #0089FA solid 1px;
	padding: 10px;
}
.box2 .boxcontent ul li {
	line-height: 30px;
	line-height: 30px;
	border-bottom: 1px dashed #CCCCCC;
}
.box3 {
	width: 100%;
	overflow: hidden;
}
.box3 .boxtitle {
	background-color: #0089FA;
	color: #FFF;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.box3 .boxtitle a {
	font-size: 12px;
	color: #fff;
}
.box3 .boxcontent {
	overflow: hidden;
	border: #0089FA solid 1px;
	padding: 10px;
}
.box3 ul {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.box3 ul li {
	background: url(../images/arrow.gif) no-repeat left top;
	line-height: 30px;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px #999999 dashed;
	height: 30px;
	font-size: 12px;
}
.box3 ul li a {
	float: left;
	padding-left: 20px;
}
.box3 ul li span {
	float: right;
}
.box4 {
	width: 100%;
	overflow: hidden;
}
.box4 .boxtitle {
	background-color: #0089FA;
	color: #FFF;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.box4 .boxtitle a {
	color: #fff;
}
.box4 .boxborder {
	width: 758px;
	overflow: hidden;
	border: #e0e0e0 solid 1px;
}
.box4 .boxcontent {
	margin: 20px auto 20px auto;
	width: 96%;
	overflow: hidden;
}
/* ============内页样式end============== */

/* ============其他 样式begin============== */
.wrap {
	width: 1200px;
	margin: 20px auto auto auto;
	overflow: hidden;
}
.banner {
	width: 1200px;
	margin: 20px auto auto auto;
}
.scbutton {
	padding: 0 5px;
	height: 24px;
	border: none;
	background: #0089FA;
	color: #FFF;
	line-height: 20px;
	letter-spacing: 1px;
	cursor: pointer;
	border-radius:3px;
}
.stripe_tb {
	border-collapse: collapse;
}
.stripe_tb th {
	background: #0089FA;
	border: 1px solid #368706;
	color: #fff;
	line-height: 20px;
	height: 30px;
	text-align: center;
}
.stripe_tb td {
	padding: 0px 0px;
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
}
.stripe_tb td * {
	padding: 0px px;
}
.stripe_tb tr.alt td {
	background: #ecf6fc;
} 
.stripe_tb tr.over td {
	background: #FEF3D1;
}
/* ============其他 样式begin============== */
